.not-found {
  background-image: url(errorpagenotfound.png);
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: auto;
  background-size: cover;
}
